<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('首页')"></div>
<body style="background: url(/erems/res/img/backgrounds/1@2x.jpg) no-repeat;color:white;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="background:#f9f9f9;">
            <a class="navbar-brand" href="#">四六级考试报名及考务管理系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="regist"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>四六级考试报名及考务管理系统</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到四六级考试报名及考务管理系统，本系统提供在线考试报名、查询、付费和其他相关服务。</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>使用方法</h2>
            <p>1. 如果你是新用户，请点击【注册】按钮进行新用户注册。注册时请务必提供有效的联系方式以便我们在必要时联系你。</p>
            </p> 2. 如果你已经注册过，可以直接点击【登录】按钮进行登录。记住，不要把你的登录信息透露给他人。</p>
            </p> 3. 报名考试时，请确保选择正确的考试科目和考试地点，并确保在规定的报名期内完成报名。</p>
            </p> 4.如果在使用过程中遇到任何问题，欢迎随时联系我们。 </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div class="span4">
            <h2>考试说明</h2>
            <p>1. 考试开始前15分钟，请凭学生证和有效身份证件（身份证等）进入规定考场对号入座，并将有效证件放在考桌左上角，以便监考人员查验。</p>

            </p> 2. 一旦考试开始指令发出后，你才能开始答卷。任何早于此时间开始答卷的行为都将被视为违规。</p>

            </p>  3. 考生进入考场必须关闭所有的通讯工具，包括手机、平板电脑和智能手表。违反这一规定的学生将被取消考试资格。</p>

            </p> 4. 考试期间请保持安静，任何形式的作弊行为都将导致考试失败，并可能进一步影响你的学习和生涯发展。</p>

            </p> 5. 考试结束后，请留在你的座位上等待监考人员的指示，直到你被允许离开考场。</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

    </div>

    <hr>

    <footer>
        <p>&copy; PROGRAMME 2023 </p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/erems/res/assets/js/jquery.js"></script>

</body>
</html>
