<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="common/header::header('试卷列表')"></div>
<script>
    Date.prototype.Format = function (fmt) { //将蓝括号的这段要放在调用时间的上面，
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function getSqList() {
        $.ajax({
            type: "post",
            url: "/erems/paper/sqList",    //url根据自己的项目实际定义
            async: false,
            dataType: "text",
            error: function () {
                alert("系统忙，请稍后再试！");
                return false;
            },
            success: function (text) {
                var expressAnswersheet = $("#sqList");
                var str = '';
                var count = 1;
                var data = eval("(" + text + ")");
                expressAnswersheet.empty();
                for (var o in data) {
                    str += '<tr>'
                        + '<td>' + count + '</td>'
                        + '<td>' + data[o].question + '</td>'
                        + '<td><input type="hidden" id="sqid'+ count +'" name="sqid'+ count +'" value="'+ data[o].id +'"/></td>'
                        + '<td><div>'
                        + '<input id="A" name="sanswer'+ count +'" type="radio" value="0" th:checked="${sanswer'+ count +'==0}"/><label for="A">A '+data[o].selectA+'</label>'
                        + '<input id="B" name="sanswer'+ count +'" type="radio" value="1" th:checked="${sanswer'+ count +'==1}"/><label for="B">B '+data[o].selectB+'</label>'
                        + '<input id="C" name="sanswer'+ count +'" type="radio" value="2" th:checked="${sanswer'+ count +'==2}"/><label for="C">C '+data[o].selectC+'</label>'
                        + '<input id="D" name="sanswer'+ count +'" type="radio" value="3" th:checked="${sanswer'+ count +'==3}"/><label for="D">D '+data[o].selectD+'</label>'
                        + '</div></td>'
                        + '</tr>';
                    count++;
                }
                expressAnswersheet.append(str);
            }
        });
    }
    function getFqList() {
        $.ajax({
            type: "post",
            url: "/erems/paper/fqList",    //url根据自己的项目实际定义
            async: false,
            dataType: "text",
            error: function () {
                alert("系统忙，请稍后再试！");
                return false;
            },
            success: function (text) {
                var expressAnswersheet = $("#fqList");
                var str = '';
                var count = 1;
                var data = eval("(" + text + ")");
                expressAnswersheet.empty();
                for (var o in data) {
                    str += '<tr>'
                        + '<td>' + count + '</td>'
                        + '<td>' + data[o].question + '</td>'
                        + '<td><input type="hidden" id="fqid'+ count +'" name="fqid'+ count +'" value="'+ data[o].id +'"/></td>'
                        + '<td><textarea id="fanswer'+ count +'" name="fanswer'+ count +'" class="required" placeholder="请输入你的答案" rows="5" th:text="*{answer'+ count +'}"></textarea></td>'
                        + '</tr>';
                    count++;
                }
                expressAnswersheet.append(str);
            }
        });
    }
</script>
<body onload="getSqList();getFqList()">
<div id="wrapper" class="row">
  <div th:replace="common/header::nav"></div>
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">试卷列表</h1>
        <h1 class="page-subhead-line">以下是当前所有试卷列表</h1>
      </div>
    </div>
    <!-- /. ROW  -->
    <div class="panel-body">
        <form action="/erems/examinee/saveSelectAnswer" method="post">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th style="width:20%;"></th>
                  <th>题目信息</th>
                </tr>
              </thead>

              <th:block >
                <tbody id="sqList">
                <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>2018-5-4</td>-->
                <!--<td><a href="/erems/examinee/continuePay?id=">继续支付</a></td>-->
                <!--</tr>-->
                </tbody>
                <tbody id="fqList">
                <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>2018-5-4</td>-->
                <!--<td><a href="/erems/examinee/continuePay?id=">继续支付</a></td>-->
                <!--</tr>-->
                </tbody>
              </th:block>
            </table>
            <button type="submit" class="btn btn-primary">确认提交</button>
            <button class="btn btn-warning">
              <a th:href="'/erems/manager/paperlist'" style="color:white;">取消</a>
            </button>
          </div>
        </form>
    </div>
    <!-- /. ROW  -->
</div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. WRAPPER  -->

<div th:replace="common/footer"></div>
</body>
</html>
